/*home.html*/
/*navbar*/
.navbar{
    background-image: url("../images/nav.jpg");
}

.nav-item a{
    color:red;
}

.nav-link {
    color: black;
    font-size: large;
    font-weight: bold;
}

/*content*/
.section-heading {
    font-family: 'Varela Round', sans-serif;
    width: 100%;
    text-align: center;
    font-size:3.5vw;
    margin-top: 1em;
    color:#DB4322;
}

.carousel-item{
    height: 30vw;
}

.text1 {
    font-family: 'Varela Round', sans-serif;
    text-align: justify;
    margin:1.5em 0.5em 2.5em 0.5em;
}

/*footer*/

.icon {
    display: inline-block;
    font-size: 4vw;
    margin-left: 2vw;
    margin-top: 2vw;
    margin-bottom: 2vw;
}

i {
    color:orange;
}

footer{
    margin-top:10px;
}

.footerBlock{
    display:inline-block;
    padding: 3em;
    margin: 0em;
}

.footerIntro{
    font-size:small;
}

.info {
    text-indent: 2em;
    font-size: medium;
    margin-bottom: 20px;
}

.page-footer{
    background-color:#2F4F4F;
    color:#F0F8FF;
    bottom: 0;
}

.fList {
    text-decoration:underline;
}


.link {
    text-indent: 4em;
    font-size: medium;
}

.link1 {
    color: white;
    font-size: medium;
    line-height:2em;
}
.copyright {
    text-align: center;
    font-size: xx-small;
    background-color: #000000;
    padding-bottom: 1px;
    position: relative;
}

