/*index.html*/

.nav-link {
    color: black;
    font-size: large;
    font-weight: bold;
}

.section-heading {
    font-family: 'Varela Round', sans-serif;
    width: 100%;
    text-align: center;
    font-size:3.5vw;
}


/*page1.html*/
.vediotext {
    text-align: justify;
}

.youtubecontent {
    text-align: center;
}

.selected-tours {
    background-color:lightyellow; 
    width:100%;
    height:10vw;
   text-decoration: underline;
   font-size:7vw;
   font-family: fantasy, sans-serif;
   letter-spacing:3px;
   word-break: break-all;
}

